.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141414;
    padding: 1rem 2rem;
    color: #B18AFF;
    border-bottom: 1px solid #222;
  }
  
  .nav-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links a {
    color: #B18AFF;
    text-decoration: none;
    margin-left: 2rem;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #FFFFFF;
  }
  